body {
  /* background-image: url("https://media.unreel.me/prod/popcornflix/home-movie/3b4e61ec-6845-485e-8a4a-3ec1c036700d"); */
  background-position: center top;
  background-color: #545b6f;
  background-size: auto;
}

@media only screen and (min-aspect-ratio: 1508/1005) {
  body {
    background-size: cover;
    background-position: top;
  }
}
